@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* OPTIONS SECTION */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --bg-pink-color: #ec7979;
  --bg-dark-grey-color: ;
  --bg-black-color: ;
}

a {
  text-decoration: none;
  cursor: pointer;
}

svg {
  display: block;
}

img {
  display: block;
}

h1 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h5 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h6 {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container.pricing {
  background: #f5f5f5;
}

.container.tabs,
.container.customers {
  background: #fff;
}

.container.header,
.container.footer {
  background: #000;
}

.container.authorization {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/background.jpg) fixed center top;
  position: relative;
}

.container.customers,
.container.about {
  background: #ffffff;
}

.container.banner {
  background: #f8efef;
}

.container.design-download {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/banner.jpg) fixed center center;
}

.pricing-options,
.customers-quote,
.header__wrapper,
.footer__content,
.banner-content,
.authorization-content,
.design-download-content,
.tabs-wrapper,
.about-content,
.contact-us-content {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* HEADER SECTION */

.header__logo {
  cursor: pointer;
  width: calc(87 / 1170 * 100%);
  padding: calc(22 / 1170 * 100%) 0;
}

.header__logo svg {
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  width: 48.6%;
}

.header__nav__items {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.header__nav__item {
  display: block;
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
  flex-grow: 1;
  width: calc(113 / 1170 * 100%);
  padding: calc(58 / 1170 * 100%) 0;
}

.header__nav__item:hover {
  background: #ec7979;
}

.header__nav__item:active {
  background: #ab4949;
}

/* AUTHORIZATION SECTION */

.authorization-content {
  display: flex;
  padding-bottom: 9.47%;
  padding-top: 12%;
  gap: 2.56%;
}

.authorization-content__discription {
  width: 57.2%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.authorization-content__discription__logo {
  width: 25.3%;
  margin-bottom: 10.8%;
}

.authorization-content__discription__title {
  position: relative;
  color: #fff;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 8.2%;
}

.authorization-content__discription__title::after {
  position: absolute;
  content: "";
  display: flex;
  width: 25.3%;
  background-color: #ffffff;
  height: 1px;
  top: 100%;
}

.authorization-content__discription__discription {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 7% 0;
  width: 40.29%;
}

.authorization-content__discription__button,
.design-download-content__button {
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  transition: 0.3s;
  padding: 2.46% 0;
  width: 40.29%;
}

.authorization-content__discription__button:hover,
.design-download-content__button:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.authorization-content__discription__button:active,
.design-download-content__button:active {
  border: 2px solid #ab4949;
  background: #ab4949;
}

.authorization-content__form {
  width: 40.2%;
}

.authorization-content__form__content {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.authorization-content__form__content-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.authorization-content__form__content__input {
  width: calc(370 / 470 * 100%);
  margin-left: calc(50 / 470 * 100%);
  padding-bottom: calc(16 / 470 * 100%);
  border-color: transparent;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  color: #bdbdbd;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.authorization-content__form__content-form > :not(:nth-child(n + 3)) {
  margin-bottom: calc(33 / 470 * 100%);
}

.authorization-content__form__content-form
  > :nth-child(n + 3):nth-child(-n + 3) {
  margin-bottom: calc(75 / 470 * 100%);
}

.authorization-content__form__content__title {
  padding: calc((90 - 33) / (2 * 470) * 100%) 0;
  color: #333333;
  margin-bottom: calc(45 / 470 * 100%);
}

mark.red {
  color: #ec7979;
  background: none;
}

.authorization-content__form__content__button {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0px 0px 10px 10px;
  background: #ec7979;
  border-color: none;
  padding: 4.25% 0;
  transition: 0.3s;
  border: 0;
}

.authorization-content__form__content__button:hover {
  border-radius: 0px 0px 10px 10px;
  border-color: none;
  background: #ab4949;
}

.authorization-content__form__content__button:active {
  border-radius: 0px 0px 10px 10px;
  border-color: none;
  background: #ec7979;
  box-shadow: 0px 0px 10px 0px #ab4949 inset;
}

/* BANNER SECTION */

.banner-content {
  display: flex;
  flex-direction: row;
  gap: 2.56%;
}

.banner-content__discription {
  text-align: left;
  width: 40.2%;
  padding-bottom: 1.53%;
}

.banner-content__discription__title {
  padding: 13.5px 0;
}

.banner-content__discription__discription {
  color: #86878b;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-content__links {
  display: flex;
  align-items: center;
  width: 57.2%;
  justify-content: space-between;
}

.banner-content__link {
  width: 10.44%;
}

.banner-content__link__svg {
  width: 100%;
  fill: #cccccc;
  margin: 0 auto;
}

.banner-content__link:hover > .banner-content__link__svg {
  animation: matrix 1.5s none;
  animation-fill-mode: forwards;
  fill: rgb(75, 75, 255);
}

@keyframes matrix {
  100% {
    transform: matrix(1.5, 0, 0, 1.5, 0, 0);
  }
}

/* TABS SECTION */

.tabs-buttons__items {
  color: #333;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.tabs-buttons__items {
  margin-top: 8.54%;
  display: flex;
}

.tabs-buttons__item {
  position: absolute;
  left: -999em;
}

.tabs-buttons__discription {
  border-radius: 5px 5px 0px 0px;

  width: 17.3%;
  padding: 0.68% 0;
}

.tabs-buttons__item:checked + .tabs-buttons__discription {
  border-top: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  position: relative;
  transition: 0.3s;
}

.tabs-buttons__item:checked + .tabs-buttons__discription::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  height: 1px;
  display: flex;
}

.tabs-content {
  border: 1px solid #c6cbcd;
  margin-bottom: 4.27%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.tabs-content__items {
  width: calc(570 / 1170 * 100%);
  margin-left: 8.54%;
}

.tabs-content__items__title {
  padding: 7.28% 0;
  margin-bottom: calc(27 / 570 * 100%);
}

.tabs-content__items__discription {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: calc(27 / 570 * 100%);
}

.tabs-content__items__button {
  display: block;
  width: calc(270 / 570 * 100%);
  padding: calc(20 / 570 * 100%);
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background: #ec7979;
  transition: 0.3s;
}

.tabs-content__items__button:hover,
.contact-us-content__form__button:hover {
  background: #ab4949;
}

.tabs-content__items__button:active,
.contact-us-content__form__button:active {
  background: #ec7979;
  box-shadow: 0px 0px 10px 0px #ab4949 inset;
}

.tabs-content__aside__img {
  width: calc(470 / 1170 * 100%);
  height: 100%;
}

.tabs-content__aside__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ABOUT SECTION */

.about-content__title {
  padding: 4.6% 0;
  position: relative;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-content__discription {
  color: #86878b;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: calc(40 / 1170 * 100%);
  margin-bottom: calc(71 / 1170 * 100%);
}

.about-content__items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: calc(58 / 1170 * 100%);
}

.about-content__item {
  width: calc(370 / 1170 * 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content__item__logo {
  margin: calc(39 / 370 * 100%) auto;
}

.about-content__item__title {
  padding: calc(34 / 370 * 100%) 0;
}

.about-content__item__discription {
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* PRICING SECTION */

.pricing-options {
  padding-bottom: 50px;
}

.pricing-options__title,
.customers-quote__title,
.contact-us-content__title {
  padding: 4.6% 0;
  position: relative;
}

.pricing-options__discription,
.customers-quote__discription,
.contact-us-content__discription {
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3.4% 0 6.8% 0;
}

.pricing-options__items,
.customers-quote__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pricing-options__item {
  width: calc((370 / 1200) * 100%);
  transition: 0.3s;
}

.pricing-options__item:hover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  transform: translate(0, -5.4%);
}

.pricing-options__item__name {
  background-color: #333333;
  border: 2px solid #f5f5f5;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 3.5% 0;
}

.pricing-options__item__price {
  background-color: #333333;
  border: 2px solid #f5f5f5;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 7.8% 0;
}

.pricing-options__item__discription {
  background-color: #333333;
  border: 1px solid #f5f5f5;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4.1% 0;
}

.pricing-options__item__content__item {
  border: 1px solid #f5f5f5;
  background: #fff;
  color: #86878b;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding: 15px 0;
}

/* CUSTOMERS SECTION */

.customers-quote__items {
  padding-bottom: 64px;
}

.customers-quote__item {
  width: calc((370 / 1200) * 100%);
}

.customers-quote__title::after,
.pricing-options__title::after,
.about-content__title::after,
.contact-us-content__title::after {
  top: 100%;
  display: flex;
  left: 50%;
  content: "";
  position: absolute;
  border: 1px solid #ec7979;
  width: 14.5%;
  transform: translate(-50%);
}

.customers-quote__item__quote {
  position: relative;
  border-radius: 10px;
  background: #e2e2e2;
  color: #86878b;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 38px 0;
  margin-bottom: 64px;
}

.customers-quote__item__quote::after {
  content: "";
  position: absolute;
  left: 18.9%;
  bottom: -34px;
  border: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
}

.customers-quote__item__customer-info {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}

.customers-quote__item__customer-info__image {
  width: calc(70 / 370 * 100%);
}

.customers-quote__item__customer-info__image > img {
  width: 100%;
  border-radius: 100%;
}

.customers-quote__item__customer-info__name-position {
  width: calc(269 / 370 * 100%);
}

.customers-quote__item__customer-info__name {
  margin-bottom: 15px;
  padding: 3.9% 0;
}

.customers-quote__item__customer-info__position {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* DESIGN SECTION */

.design-download-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.design-download-content__title {
  color: #fff;
  margin-top: 4.27%;
  padding: 5.47% 0;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.design-download-content__title::after {
  position: absolute;
  content: "";
  display: flex;
  width: 14.5%;
  height: 1px;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
}

.design-download-content__discription {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3.4% 0 6.23% 0;
}

.design-download-content__button {
  width: 31.62%;
  padding: 1.3% 0;
  margin-bottom: 4.27%;
}

/* CONTACT US SECTION */

.contact-us-content__form {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(50 / 1170 * 100%);
}

.contact-us-content__form__content {
  display: flex;
  gap: calc(30 / 1170 * 100%);
  margin-bottom: calc(50 / 1170 * 100%);
}

.contact-us-content__form__left {
  display: flex;
  flex-direction: column;
  width: calc(570 / 1170 * 100%);
  justify-content: space-between;
}

.contact-us-content__form__left__input {
  border-color: transparent;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  color: #bdbdbd;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: calc(16 / 470 * 100%);
}

.contact-us-content__form__right__textarea {
  border-color: transparent;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  color: #bdbdbd;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  resize: none;
  padding-bottom: calc(16 / 470 * 100%);
}

.contact-us-content__form__button {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background: #EC7979;
  transition: .3s;
  width: calc(370 / 1170 * 100%);
  padding: calc(20 / 1170 * 100%);
  margin: 0 auto;
}

/* FOOTER SECTION */

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 2.7%;
  padding-top: 3%;
}

.footer__link {
  width: 4.6%;
}

.footer_copyright {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2.3% 0;
}

.footer__link__svg {
  fill: #cccccc;
  transition: 0.5s;
  width: 100%;
}

.footer__link:hover > .footer__link__svg {
  animation: rotate 1.5s none 0.5s 3;
  fill: rgb(75, 75, 255);
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}
